*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
  
body{
    overflow-x: hidden;
    min-height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    background-image: linear-gradient(rgba(0,0,0, 0.8)), url('newBG.jpeg');
    background-size: contain;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.75rem;
    width: 100%;
    padding:  0 10rem;
    background-color: rgba(0, 0, 0, 0);
    position: sticky;
    top: 0;
    z-index: 10;
}
header.scrolled{
    background-color: black;
    transition: background-color .3s ease;
}
.nav1{
    color: white;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    position: relative;
    top: -5px;
}
.nav1 span{
    color: rgb(162, 207, 95);
    font-size: 1.4rem;
    position: relative;
    top: 11px;
    left: -5px;
    font-style: italic;
}
.nav2 ul{
    display: flex;
    list-style-type: none;
    gap: 50px;
}
.nav2 li a{
    height: 40px;
    padding: .5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    text-decoration: none;
    color: white;
    transition: all .3s;
}
.nav2 li a:hover{
    background-color: black;
    color: rgb(162, 207, 95);
    box-shadow: 0 0 5px rgba(255,255,255, 0.4);
}
.hero{
    min-height: 70vh;
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    padding: 2rem 0;
}
.hero-div{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    left: -4rem;
}
.hero h1{
    color:  rgb(162, 207, 95);
    font-size: 4.8rem;
    
}
.hero-p{
    color: rgb(210, 236, 171);
}
.hero-btns{
    display: flex;
    gap: 20px;
}
.hero-btns button{
    height: 40px;
    padding: 8px 16px;
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
    box-shadow: 0 0 5px rgba(255,255,255, 0.4);
    transition: all .3s;
}
button:hover{
    color: rgb(210, 235, 172);
    box-shadow: 0 0 5px rgba(210, 235, 172, 0.4);
    transform: translateY(-3px);
}
.hero-img{
    position: relative;
    top: 10rem;
    right: -4rem;
}
.hero-img img{
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(255,255,255, .2);
    transition: all .3s;
}
.hero-img img:hover{
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
}
.content-name{
    min-height: 10rem;
    padding: 5rem 10rem;
    width: 100%;
    font-size: 1.5rem;
    background-color: black;
    color: rgb(210, 236, 171);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.content-box{
    display: flex;
    justify-content: space-between;
}
.lang-box{
    height: 12rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.icon-box{
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}
.icon-box:hover{
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.2);
    transform: translatey(5px);
    cursor: pointer;
}
.lang-box p{
    font-size: 1rem;
}
.glow{
    box-shadow: 0 0 5px rgba(255,255,255, 0.4);
}
.ui-logo{
    color: rgb(210, 236, 171);
    font-size: 1.5rem;
}
.serv-sec{
    background-image: linear-gradient(rgba(0,0,0,.8)), url('newBG.jpeg');
    background-size: cover;
}
.service{
    display: flex;
    gap: 1.5rem;
}
.service>*{
    flex: 1;
}
.box-item{
    display: flex;
    height: 80px;
    padding: 12px 24px;
    justify-content: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 5rem;
    gap: 2rem;
    text-align: center;
}
.content{
    display: flex;
    align-items: center;
    color: rgb(210, 235, 172);
    gap: 1rem;
}
.left{
    position: relative;
    left: 3.3rem;
}
.sub-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.p-1{
    font-size: 1.5rem;
}
.p-2{
    font-size: 1rem;
}
p{
    color: rgb(201, 218, 177);
}
.w-icon{
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}
.contact-sec{
    background-image: linear-gradient(rgba(0,0,0, 0.8)), url('newBG.jpeg');
    background-size: cover;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contact-info{
    height: 40px;
    width: 300px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
}
.contact-info::placeholder{
    position: relative;
    left: 20px;
    font-style: italic;
}
.contact-btn{
   width: 150px; 
   color: rgb(210, 235, 172);
}

.exp-sec{
    background-color: transparent;
    background-image: linear-gradient(rgba(0,0,0,.9)), url('newBG.jpeg');
    background-size: cover;
}
.projects{
    background-color: transparent;
    background-image: linear-gradient(rgba(0,0,0,.9)), url('newBG.jpeg');
    background-size: cover;
    text-align: center;
    align-items: center;
    padding: 3rem;
}
.project-box{
    display: flex;
    position: relative;
    left: 3.5rem;
}
.sub-project-box{
    display: flex;
    flex-direction: column;
    width: 18rem;
    gap: 1rem;
    justify-content: center;
    position: relative;
    background-color: black;
    padding: 2rem;
    border-radius: 5px;
    transition: all .3s;
}
.sub-project-box:hover{
    cursor: pointer;
    z-index: 10;
    box-shadow: 0 8px 20px rgba(255,255,255, 0.2);
    transform: translateY(-10px);
}
.para{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.box1{
    position: relative;
}  
.box2{
    position: relative;
    left: -2rem;
    top: 2rem;
}
.box3{
    position: relative;
    left: -4rem;
    top: 4rem;
}
.box4{
    position: relative;
    left: -6rem;
    top: 6rem;
}
footer{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: black;
}
footer ul{
    list-style-type: none;
    display: flex;
    gap: 2rem;
}
footer ul li a{
    text-decoration: none;
    color: rgb(217, 233, 192);
}
footer ul li a:hover{
    color: rgb(162, 207, 95);
    cursor: pointer;
}